<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Expense</a>
    </div>

    <form class="navbar-form navbar-right" role="search">
		<div class="form-group">
	    	<label class="sr-only" for="expense_title">Expense</label>
	    	<input type="text" class="form-control" id="expense_title" placeholder="Expense">
	    	<label class="sr-only" for="expense_amount">Expense</label>
	    	<input type="text" class="form-control" id="expense_amount" placeholder="Amount">
	    </div>
	    <button type="submit" class="btn btn-default">Add</button>
	</form>

  </div> <!-- end container -->
</nav>