<div class="snapshotbg full-width">
	<div class="container snapshot">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h2>200</h2>
				<h1>Past Week</h1>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h2>1200</h2>
				<h1>This Month</h1>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h2>6427</h2>
				<h1>Year-to-date</h1>
			</div>
		</div>
	</div>
</div>